.button {
    border: 0;
    height: 40px;
    padding: 10px 24px;
    border-radius: 100px;
    background: #0A66C2;
    font-size: 14px;
    line-height: 20px;
}

.button:hover {
    filter: brightness(1.08);
}