
.header { 
    height: 100px;
    width: 100%;
    background: #6750A4;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 64px;
}

.logotipo {
    height: 80px;
}

.TemplateFooterDefault {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;    
    padding: 10px; /* Espaçamento interno do rodapé */
    text-align: center; 
  }
  