.button {
    border: 0;
    height: 40px;
    padding: 10px 24px;
    border-radius: 100px;
    background: #991717;
    font-size: 14px;
    line-height: 20px;
}

.button:hover {
    filter: brightness(0.8);
}